<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RisetPayRoll.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <RisetPayRoll.My.MySettings>
            <setting name="DB_Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DB_Name" serializeAs="String">
                <value>payroll_db</value>
            </setting>
            <setting name="DB_User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_Pass" serializeAs="String">
                <value>Cicang04121996</value>
            </setting>
            <setting name="Reso_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reso_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatusLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Departement" serializeAs="String">
                <value />
            </setting>
            <setting name="NamaUser" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusUser" serializeAs="String">
                <value />
            </setting>
        </RisetPayRoll.My.MySettings>
    </userSettings>
</configuration>
